body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}
.golova{
padding-top: 0;
background:url(image/18907.svg);
background-size: 64.3vmax , cover;
background-repeat: no-repeat;
background-position: right;
width: 88.40277777777777vw;
height: 95.4vh;
margin: auto;
}
.container{
background:url(image/zheltaya.svg);  
   background-repeat: no-repeat;
    background-size: 63vmax, cover;
    background-position: right;
    
}
.container ul{
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.container ul li{
    font-size: 1.000em;
    line-height: 19px;
    padding: 20px;
    list-style: none;
}
.opisanie{
    padding-top: 22vh;
    display: flex;
    flex-direction: column;
    width:26.8vw;
}

.opis{
    line-height: 1.125em;
    margin: 0;
    font-size: 1.125em;
    color:#6D6D6D;
    letter-spacing: 0.06em;
}
.opisanie h1{
    margin: 0;
    padding-top: 1.1685678073510775vh;
    font-size: 3.000em;
    line-height: 1.6em;
    letter-spacing: 5%;
    text-transform: uppercase;
    color: #78C2FF;
}
.opistext{
    padding-top: 3.435994930291508vh;
    margin: 0;
    font-size: 0.875em;
    line-height: 1.125em;
    letter-spacing: 5%;
    color: #6D6D6D;
}

.accept {
    margin-top: 5.196451204055767vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.583333333333334vw;
    height: 5.449936628643853vh;
    border-radius: 6.250em;
    background: linear-gradient(180deg, #41CEE7 0%, #4E95F6 100%);
    border: none;
    color: white;
    font-size: 0.875em;
    line-height: 1.286em;
}
.opisanie h1{
  
}
.container2{
    margin-top: 7.97084917617237vh;
    display: flex;
    background-image:url(image/Vector.svg), url(image/Vector.svg),url(image/bgniz.png);
    height:80.6083650190114vh;
    background-position: top, center left, bottom;
    background-size: 120vw 10vh,100vw 20vh, cover;
    background-repeat: no-repeat;
    
}
.zagolovok{
    background-position: 0% 0%;
    background-image: url(image/01%20.png); 
     background-repeat: no-repeat;
}
.zagolovok h1{
    line-height: 2.625em;
    letter-spacing: 5%;
    font-size: 2.571em;
    opacity: 0.6;
    padding-left:2.8405555555555554vw;
    margin: 0;
    
}

.zagolovok3{

    background-size: 6% cover;
      background-image: url(image/03.png);
     background-repeat: no-repeat;
}
.zagolovok3 h1{
    line-height: 2.000em;
    padding-left: 2.7777777777777777vw;
    margin: 0;
    opacity: 0.5;
    font-size: 2.571em;
    letter-spacing: 0.05em;
  
}
.zagolovok4 {
    background-repeat: no-repeat;
    background-size: 6% cover;
    background-image: url(image/04.png);
}
.zagolovok4 h1{
    padding-top: 2.534854245880862vh;
    padding-left: 3.4722222222222223vw;
    margin: 0;
    opacity: 0.5;
    font-size: 2.571em;
    
}
.zagolovok2 {
    background-position:top left;
    background-repeat: no-repeat;
    background-size: 6% cover;
    background-image: url(image/02.png);
}
.zagolovok2 h1{
    opacity: 0.5;
    padding-top: 1.9011406844106464vh;
    padding-left: 3.125vw;
      padding-bottom:  6.083650190114068vh;
    margin: 0;
     font-size: 2.571em;
    letter-spacing: 0.05em;
    font-family: Roboto;
    font-style: normal;
    
}

.golova1{
    margin-top: 2.534854245880862vh;
    height:80.6083650190114vh;
    display: flex;
    flex-direction: column;
    margin:  auto;
    width:88.40277777777777vw;
}
.golova6{
     display: flex;
    flex-direction: column;
    margin:  auto;
    width:88.40277777777777vw;  
}
.golova3{
      display: flex;
    flex-direction: column;
    margin:  auto;
    width:88.40277777777777vw;  
    
}

.buttons{
    padding-top:4.435994930291508vh; 
    display: flex;
    flex-direction: column;
}
.buttons2{
    
    display: flex;
    flex-direction: column;
}
.buttons2 input{
margin-top: 1.267427122940431vh;
}
.adres {
    padding-right: 12.5vw;
    width:20.77777777777778vw;
    font-size: 1.286em;
    height: 23.954372623574145vh;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
   justify-content: center;
     
    
}
.ad{
    font-size: 1.0em;
    color:#6D6D6D;
   padding-bottom: 1.9011406844106464vh;
   border-bottom: 0.06944444444444445vw solid #FFCE45;
   margin: 0;
}
.da{ 
    line-height: 23px;
    color: black;
   margin: 0; 
}
.adres1{
    margin-top: 5.069708491761724vh;
}
.buttons input{
    margin-top: 1.267427122940431vh;
}
.images{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}    
.images img:first-child{
    height: 18.631178707224336vh;
    width:  9.51388888888889vw
}
.images img:nth-child(2){
    height: 18.631178707224336vh;
    width: 9.51388888888889vw
}
.images img:nth-child(3){
    height: 21.673003802281368vh;
    width:  9.51388888888889vw
}
.image img:last-child{
    width:25.694444444444443vw ;
    height:53.865652724968314vh;
}

.item_text{
    padding-right: 1.7361111111111112vw;
    padding-left: 1.0416666666666667vw;
    font-size: 1.0em;
    color:#6D6D6D;

}

.item{
margin-top: 3.802281368821293vh;
height: 54.1191381495564vh;
width: 26.73611111111111vw;
display: flex;
flex-direction: column;
border:0.1vw solid #E5E5E5;
border-radius: 0.4vw;
font-size: 1.000em;
justify-content: space-between;
}

.food p{
    margin: 0;
    color: black;
}
.odin{
    height:3.4220532319391634vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.odin p{
    padding-left: 1.0416666666666667vw;
    text-align: left;
    
}
.odin:last-child{
    background: #F9FCFF;    
}
.odin:first-child{
    background: #F9FCFF;
}
.odin:nth-child(3){
    background: #F9FCFF;
}


.raspisanie{
    padding-bottom: 3.802281368821293vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.food {
 margin-left:  3.55vw;
}
.items{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item_head{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 4.816223067173637vh;
    background: #78C2FF;
    border-top-left-radius: 0.4vw;
     border-top-right-radius: 0.4vw;
    text-align: center;
    color:white;
    font-size: 1.714em;
}
.item_head h5{
   line-height: 1.750em;
    margin: 0
}
.container4{
    padding-top:3.802281368821293vh;
    height: 157.16096324461344vh;
background-image: url(image/%D0%A0%D1%83%D0%BA%D0%B0.svg),url(image/Yellow.svg);
background-repeat: no-repeat;
background-size:  50%, 100%,  cover;
background-position:0vh -25vh , bottom ;

}
.container3{
    margin-top: 2vh;
}
.container5{
    margin: auto;  
}
footer{
    height: 38.02281368821293vh;
    background: #333333;
    color: white;
    flex-direction: row;
    display: flex;
    
}
footer ul{
    width:50%;
    justify-content: space-between;
    display: flex;
    list-style: none;
    
    
}
footer ul li{
    font-size: 1.143em;
    margin: 0;
    padding: 0;
}
.textfoot{ 
    font-size: 1.143em;
    padding-left: 2.7777777777777777vw;
    width: 50%;
}
.foot{
    display: flex;
    flex-direction: column;
}
footer img{
    align-self: center;
    height:12.62103929024081vh;
    width: 5.902777777777778vw;
}
.niz{
    display: flex;
    flex-direction: row;
    margin: auto;
    width:83.33333333333333vw;
}
#errorMess{
  height:  6.337135614702155vh;
  
}
.golova3{
    background-image: url(image/chel.svg);
    background-size: 50%  cover;
    background-repeat: no-repeat;
    background-position: 0vh 90vh;
    height:157.16096324461344vh;
    width:88.40277777777777vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.container4 form{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.container4 form input{
    width: 32.361111111111114vw;
    height:4.435994930291508vh;
    border-radius: 0.714em;
    border: none;
}
.container4 form button{
    color:white;
    border:none;
    width:14.583333333333334vw;
    height:5.449936628643853vh;
    border-radius: 7.143em;
    align-self: center;
    margin-top: 3.802281368821293vh;
    background: linear-gradient(45deg, #41CEE7, #4E95F6);
}
.zagol{
    align-items: center;
    height: 25.34854245880862vh;
    display: flex;
}